Source: python-pyfire
Section: python
Priority: optional
Maintainer: Zakaria Zajac <zak@madzak.com>
Build-Depends: debhelper (>= 7.0.50~), python-all-dev (>=2.6), python-support, python-setuptools
Standards-Version: 3.9.2
Homepage: https://github.com/mariano/pyfire

Package: python-pyfire
Architecture: any
Depends: ${misc:Depends}, python-twisted, python-openssl, ${python:Depends}
Description: Campfire API bindings for python
 The goal of this package is to provide an easy to use 
 implementation of the Campfire API in Python.
